* {
  font-family: Arial;
}

body {
  background-color: bisque;
  background-image: url(./images/bg-intro-desktop.png);
}

h1 {
  font-size: 36px;
  margin-bottom: 0.5em;
  color: black;
  text-decoration: underline;
  text-align: center;
}
h2 {
  font-size: 36px;
  margin-bottom: 0.5em;
  color: black;
  text-decoration: underline;
  text-align: center;
}

p {
  font-size: 16px;
  margin-bottom: 0.5em;
}

ol {
  font-size: 16px;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

li {
  margin-bottom: 1em;
}

.primeiroP {
  font-size: 24px;
  margin-bottom: 0.5em;
}

h3 {
  text-decoration: underline;
  color: rgb(248, 0, 0);
  text-shadow: 1cap;
}

h4 {
  color: rgb(248, 0, 0);
  text-shadow: 1cap;
}

.oi {
  display: flex;
}

.oi img {
  padding-top: 80px;
}

section,
.oi3 h2 {
  margin-bottom: 50px;
  margin-top: 30px;
}

.oi2,
.oi3,
.oi6 {
  display: flex;
}

.oi2 h4,
.oi2 p {
  margin-left: 20px;
}

hr {
  background-color: #000;
}

.oi4 {
  margin-left: 20px;
}

.oi5 {
  text-align: center;
}

.oi6_p {
  text-align: right;
}
